html,
body {
  font: 16px/1.2 "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

header {
  height: 200px;
}

canvas#game {
  display: block;
  margin: 0px auto;
  border-top: 1px solid #cfcfca;
  border-bottom: 1px solid #cfcfca;
}